/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #457aab;
  --ifm-color-primary-dark: #6294c7;
  --ifm-color-primary-darker: #7eafe3;
  --ifm-color-primary-darkest: #0b3953;
  --ifm-color-primary-light: #6e9cc7;
  --ifm-color-primary-lighter: #86a7c5;
  --ifm-color-primary-lightest: #c0d2e2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #457aab;
  --ifm-color-primary-dark: #6294c7;
  --ifm-color-primary-darker: #7eafe3;
  --ifm-color-primary-darkest: #0b3953;
  --ifm-color-primary-light: #6e9cc7;
  --ifm-color-primary-lighter: #86a7c5;
  --ifm-color-primary-lightest: #c0d2e2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
